<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Lists and Conditional Content</h1>
    </header>
    <section id="assignment">
      <h2>Assignment</h2>
      <!-- 1) Vue 앱에서 task 목록을 관리하는 코드를 추가하세요. -->
      <!-- 입력한 텍스트와 함께 "Add Task" 클릭하면 task 목록에 새로운 task가 추가되어야합니다. -->
      <input type="text" v-model="enteredTask" />
      <button @click="addTask">Add Task</button>
      <ul v-show="listIsVisible">
        <!-- 2) task 목록을 리스트 렌더링합니다. -->
        <li v-for="task in tasks" :key="task">{{ task }}</li>
      </ul>
      <!-- 3) 아래의 버튼을 클릭하면 리스트가 보여지거나 숨겨져야 합니다. -->
      <!-- BONUS: button의 캡션도 변경되어야합니다. -->
      <button @click="toggleListVisibility">{{ toggleButtonCaption }}</button>
    </section>
  </body>
</html>
